#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}

.content {
    padding: 1rem;
    background-color: #313131;
    color: #d1d4c9;
}

body {
    background-color: #414141;
}
